body {
	background-color: #FCB935; 
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 600px; 
}

img {	
	float: left; 
    max-width: 600px;
}

#text {
	margin-left: 400px; 
}